{% extends "layout.html" %}
{% block pageTitle %}Home – Help for early years providers{% endblock %}
{% block main %}
    <div class="govuk-width-container govuk-!-margin-top-6">
        <div class="govuk-breadcrumbs govuk-!-padding-bottom-4">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/v1/home">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Support for practitioners</a>
                </li>
            </ol>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Support for practitioners</h1>
                <p class="govuk-body">Get guidance to help you in your role, on topics from paperwork to curriculum planning.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="../../public/images/home-image-2.jpg" width="225px">
            </div>
        </div>
    </div>
    <div class="app-search-form-container govuk-!-margin-bottom-4">
        <div class="govuk-width-container">
            <h2 class="govuk-heading-m">Topics</h2>
            <ul class="govuk-list govuk-heading-m">
                <li class="govuk-!-margin-bottom-2">
                    <a href="#">Curriculum planning</a>
                </li>
                <li class="govuk-!-margin-bottom-2">
                    <a href="#">Working in partnership with parents and carers</a>
                </li>
                <li class="govuk-!-margin-bottom-2">
                    <a href="/v1/support-for-practitioners/reducing-paperwork">Reducing paperwork</a>
                </li>
            </li>
        </ul>
    </div>
</div>
<div class="govuk-width-container govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"></div>
    </div>
</div>
</div>
{% endblock %}
