
{% extends "layout.html" %}

{% block pageTitle %}
  Reducing paperwork - Help for early years providers
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs govuk-!-margin-top-6">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/support-for-practitioners">Support for practitioners</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Reducing paperwork</a>
    </li>
   
  </ol>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Support for practitioners</span>Reducing paperwork
     
      </h1>
      


     <p class="govuk-body">Find out about reducing the amount of paperwork you do, including what Ofsted will look for during inspections.</p>
    <p class="govuk-body">Reducing unnecessary paperwork is a key aim of the new early years foundation stage (EYFS) framework. This is so you can spend more time engaging with children. </p>

    <h2 class="govuk-heading-m">What Ofsted will look for during inspections</h2>
    <p class="govuk-body">Ofsted know that children learn best from high-quality interactions with adults. Ofsted do not want the assessment of young children to take you away from this important work. Rather than looking at information about children, inspectors will want to discuss the progress that children are making with you. Inspectors will want to discuss:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what the children could do when they arrived</li>
        <li>what they are working on now</li>
        <li>what you want them to learn or be able to do by the time they leave</li>
      </ul>
      <p class="govuk-body">Inspectors will <strong>not</strong> expect this information to be recorded in any particular way. You can choose to record it in the way that works best for you. For example, a small setting may know their children so well that they can provide a verbal account of children’s current learning and progress. A larger setting might decide to keep records if they wish.</p>
      <h2 class="govuk-heading-m">Assessing children’s progress</h2>
      <p class="govuk-body">Gather useful information, rather than producing lots of tracking data and documentation, or following checklists.

      </p>
      <p class="govuk-body">In ‘Development Matters’, the non-statutory curriculum guidance, there are ‘checkpoints’ rather than ‘checklists’. You can use the checkpoints to reflect on children’s development in the three prime areas. They’ll help you understand what children are doing well, and where they may need more support. The prime areas ensure a strong foundation for children’s development.</p>
      <p class="govuk-body">Understand the children currently at your setting, and the starting points for new children. Use conversations, observations, reflections and your professional knowledge to assess your children and their learning. This ongoing, formative assessment helps you make informed decisions about how to support children’s learning, as part of their wider development.</p>
      <p class="govuk-body">Ask parents and carers about their child’s interests, to find out what they’re curious about. Ask children to tell you about their learning or observe them if they are not able to tell you.</p>
      <p class="govuk-body">Share information with parents and carers, which will help you gain further insights. Share information with children in an appropriate way, allowing them to reflect. Support them to be aware of their own learning.</p>
    <hr>

    <h3 class="govuk-heading-s">Sections in this area:</h3>
    <nav role="navigation" class="govuk-sideways__nav">
      <ul class="govuk-list govuk-sideways__nav">
      
        <li class="govuk-sideways__item"><a href="#1">Curriculum planning</a></li>
        <li class="govuk-sideways__item"><a href="#2">Working in partnership with parents and carers</a></li>
        <li class="govuk-sideways__item is-active">Reducing paperwork</li>
      
      </ul>

    </nav>
    </div>
  </div>

{% endblock %}
