
{% extends "layout.html" %}

{% block pageTitle %}
  Communication and language - Help for early years providers
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs govuk-!-margin-top-6">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/areas-of-learning">EYFS areas of learning</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Communication and language</a>
    </li>
   
  </ol>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Communication and language</span>Overview
     
      </h1>
      


     <p class="govuk-body">These pages explore the communication and language learning area of the EYFS. They will help you to plan your curriculum to best support children’s learning and meet EYFS standards.</p>
    <p class="govuk-body">As you plan your curriculum, consider what you want children to learn first. Then, make sure you plan activities and opportunities to help them achieve this. </p>

    <h2 class="govuk-heading-m">What the early years foundation stage (EYFS) framework says aboutcommunication and language</h2>
    <p class="govuk-body">The development of children’s spoken language underpins all seven areas of learning and development.</p>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Read more
        </span>
      </summary>
      <div class="govuk-details__text">
       
      </div>
    </details>
    <hr>
    <h3 class="govuk-heading-s">Other pages in this topic:</h3>
    <nav role="navigation" class="govuk-sideways__nav">
      <ul class="govuk-list govuk-sideways__nav">
      
        <li class="govuk-sideways__item is-active">Overview</li>
        <li class="govuk-sideways__item"><a href="">Interactions</a></li>
        <li class="govuk-sideways__item"><a href="">Exploring language</a></li>
        <li class="govuk-sideways__item"><a href="">Listening and understanding</a></li>
        <li class="govuk-sideways__item"><a href="">English as an additional language</a></li>
        <li class="govuk-sideways__item"><a href="">Supporting research: communication and language</a></li>
      </ul>

    </nav>
    </div>
  </div>

{% endblock %}
