
{% extends "layout.html" %}

{% block pageTitle %}
Oral health - Help for early years providers
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs govuk-!-margin-top-6">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/areas-of-learning">EYFS areas of learning</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v1/areas-of-learning/communication-language">Communication and language</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">English as an additional language</a>
    </li>
   
  </ol>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Communicaton and language</span>English as an additional language (EAL)
     
      </h1>
      


     <p class="govuk-body">Learn how to support children who have an additional language. Including information on speaking with children, modelling clear concise English and working with parents.</p>
      <p class="govuk-body">English society is multilingual, with an estimated 360 languages spoken across the country.</p>

    <h2 class="govuk-heading-m">Advantages of being multilingual</h2>
    <p class="govuk-body">Research tells us that maintaining at least 2 languages is an advantage for later academic achievement. It’s desirable for children who are potentially bilingual and multilingual, to be supported in all the languages available to them.</p>
    <h2 class="govuk-heading-m">The role of parents and carers</h2>
    <p class="govuk-body">It’s better for young children to communicate with their parents in the dominant home language, especially if parents are not fluent English speakers themselves.</p>
    <p class="govuk-body">Children with English as an additional language may need more time settling in. This can be a cause of anxiety for the child. Sharing as much information about routines with the child’s parents is always helpful and finding an adult to interpret will deepen dialogue.</p>  
    <p class="govuk-body">Suggest to parents to talk to the child about the setting’s routines at home. Children hearing music, songs and stories they would experience at home, in the setting contributes to settling in and values diversity.</p> 

    <h2 class="govuk-heading-m">Supporting children with EAL</h2>
    <p class="govuk-body">Children with English as an additional language need to hear English spoken by the adults in the setting in as many different contexts as possible. When the context has meaning for the child they are more able to learn spoken English from the adult.</p>
    <p class="govuk-body">Your role is crucial in modelling the accurate use of English, noting the child’s spoken vocabulary and building on what the child already knows.</p>
    <p class="govuk-body">Children will start to speak English and any other languages they may be learning, in different ways. Some children will enthusiastically copy what they hear around them right from the start. Children may start by verbalising single words and 2 or 3 word phrases.</p>
    <p class="govuk-body">More complex spoken language in English will build up over time, with your guidance, modelling English and recasting so that the child hears their speech repeated correctly.</p>
    <p class="govuk-body">Some children go through a silent period. This can be for as long as 6 months. When they start to speak in English it will be more proficiently than you may expect, even in full sentences. The child will have been listening intently to adults and children in the setting and once they are confident with their initial speech, they will speak far more.</p>
    <p class="govuk-body">It is good for children with English as an additional language to be able to speak their home language in the setting and talk to providers who speak the same language if there are any. This will further aid them in learning English. Most children adapt to speaking more than one language.</p>
    <p class="govuk-body">The security of knowing what resources will be available in each area, each day supports children’s wellbeing and achievements in learning. Keep the provision consistent. Observing how the children respond will inform you when a change is needed. This may be to add something more, or a specific enrichment to extend the children’s learning.</p>
    <p class="govuk-body">Consider whether the home area, images displayed and books in the setting, reflect the child’s home environment. Include books, songs and counting in home languages. Take sequences of photographs to show the child specific routines, such as, what happens at the snack table, how to tidy away the construction toys and a visual timetable of the session. Over time the setting becomes a secure place for the child and they gain confidence in their play and interactions.</p>
    <p class="govuk-body">Revisiting and re-proposing are beneficial for all children but especially for those acquiring English.</p>
    <p class="govuk-body">Revisiting means you draw the child’s attention to previous activities and learning where they have achieved. A prompt could be a photograph or video of them playing. It could be a sample of their mark making, a painting or a collage picture. The child can revisit by drawing over the top, and the adult sensitively describes their actions as they do this. In this way the child hears spoken language directly connected to their actions.</p>
    <p class="govuk-body">Re-proposing is when you scribe a child’s spoken dialogue and on the following day remind the child of their words. This is a launchpad for the child to either repeat what they said before or to extend what was said on the previous day.</p>
    <p class="govuk-body">When exploring rhymes and songs make comparisons between words in English and in other languages. Older children who have grasped more than one language enjoy these opportunities. They love to play with words and translate from one language to another.</p>

    <h2 class="govuk-heading-m">Helping children understand the setting</h2>
    <p class="govuk-body">Consider having:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>a visual timetable-introduced as it is happening</li>
        <li>feelings or emotions picture cards so children can label their own and others emotions</li>
        <li>photographs of areas, resources, peers and staff to support children to plan their session with an adult</li>
        <li>story and song props used as often as possible</li>
        <li>phonetically spelt key words in home languages to help you</li>
     
      </ul>

      <h2 class="govuk-heading-m">Using clear, concise English</h2>
      <p class="govuk-body">When talking to children:</p>
  
      <ul class="govuk-list govuk-list--bullet">
          <li>say less and stress, go slow and show</li>
          <li>be face to face</li>
          <li>gain their attention first</li>
          <li>demonstrate your meaning with actions</li>
          <li>give thinking time without extra language input</li>
       
        </ul>

      <h2 class="govuk-heading-m">Helping children to take part in activities</h2>
      <p class="govuk-body">Consider these steps:</p>
  
      <ul class="govuk-list govuk-list--bullet">
          <li>having layers of participation planned into activities, giving children time to watch what is going on.</li>
          <li>using ‘ladder steps’, taking the child through one step at a time.</li>
          <li>notice and value verbal and non-verbal communication.</li>
       
       
        </ul>

        <h2 class="govuk-heading-m">Learning opportunities that are not dependent on the child’s English language level</h2>
        <p class="govuk-body">Consider the following:</p>
    
        <ul class="govuk-list govuk-list--bullet">
            <li>experiences that are challenging and give language opportunities but not dependent on English language level</li>
            <li>commenting and labelling rather than questioning to support learning. Introduce vocabulary in context</li>
 
         
         
          </ul>

          <h2 class="govuk-heading-m">Using repeated phrases</h2>
          <p class="govuk-body">You may want to think about familiar things to talk to the children about, such as:</p>
      
          <ul class="govuk-list govuk-list--bullet">
              <li>story-telling with a clear introduction, consistent actions, props, physical acting out of stories, with or without words</li>
              <li>teaching call and response playground games, for example, ‘Say hello’, ‘How do you do?’ ‘Walking through the jungle’, ‘We’re going to make a circus’, ‘Put your finger on your head’</li>
   
           
           
            </ul>
    
  
            <h2 class="govuk-heading-m">Using information technology</h2>
            <p class="govuk-body">You may find it helpful to use:</p>
        
            <ul class="govuk-list govuk-list--bullet">
                <li>video clips and photos to share learning with group at review time</li>
                <li>video clips and photos to share learning with parents and family</li>
                <li>recordings of adults telling stories in the languages spoken by the children, including English</li>
             
             
              </ul>

    
      
      
      <h2 class="govuk-heading-m">How this links to the other areas of learning</h2>
      <p class="govuk-body">Real life experiences support children learning English because they hear spoken English in contexts that are increasingly familiar and meaningful to them. Children benefit from hearing well-loved songs, nursery rhymes, finger rhymes and stories as often as possible and with associated props.
      </p>
      <p class="govuk-body">Exaggerate actions to give meaning to the words. Re-presenting core stories in as many ways as possible encourages children to re-enact stories in small world and drama role play. Eventually children will use the language from songs and stories in their own speech (communication and language and literacy). Visits to places and welcoming visitors into the setting are activities that support children in learning English (understanding the world). Books made using photographs of the child and their family support the child in feeling valued (personal, social and emotional development) as well encouraging the child to access books in the book area of the setting (literacy).</p>

      <h2 class="govuk-heading-m">Online resources</h2>
      <p class="govuk-body">BBC Resources are full of ideas for <a href="#6">rhymes and songs</a>, materials are suitable for sharing with families.</p>
      <p class="govuk-body">BBC Resource explaining <a href="#5">the benefit of speaking your home language</a> with your young child.</p>
      <p class="govuk-body"><a href="#7">Article about Cultural Capital</a> including some practical ideas to help practitioners support and value children’s cultures.</p>
     
      <hr>

      <h3 class="govuk-heading-s">Sections in this topic:</h3>
      <nav role="navigation" class="govuk-sideways__nav">
        <ul class="govuk-list govuk-sideways__nav">
        
          <li class="govuk-sideways__item"><a href="/v1/areas-of-learning/communication-language">Overview</a></li>
          <li class="govuk-sideways__item"><a href="#1">Interactions</a></li>
          <li class="govuk-sideways__item"><a href="#2">Exploring language</a></li>
          <li class="govuk-sideways__item"><a href="#3">Listening and understanding</a></li>
          <li class="govuk-sideways__item is-active">English as an additional language</li>
          <li class="govuk-sideways__item"><a href="#4">Supporting research: communication and language</a></li>
        </ul>
  
      </nav>
    </div>
  </div>

{% endblock %}
