{% extends "layout.html" %}
{% block pageTitle %}Oral health - Help for early years providers{% endblock %}
{% block beforeContent %}
    <div class="govuk-breadcrumbs govuk-!-margin-top-6">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/v1/home">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/v1/wellbeing-enrichment">Wellbeing and enrichment</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Oral health</a>
            </li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">Wellbeing and enrichment</span>Oral health
            </h1>
            <p class="govuk-body">Find out about promoting oral health as part of the early years foundation stage (EYFS).</p>
            <h2 class="govuk-heading-m">Why oral health is included in the EYFS framework</h2>
            <p class="govuk-body">
                This has been included because good oral health habits need to be formed from the earliest age. Tooth decay is largely preventable, but it’s still a serious problem among young children.
            </p>
            <p class="govuk-body">
                Nearly a quarter of 5 year olds in England have tooth decay, with 3 or 4 teeth affected on average. Tooth extraction is one of the most common procedures for children under 6 in hospital. Extraction is also the most common reason for hospital admission for children aged 6 to 10. Children from more deprived backgrounds are more likely to have tooth decay.
            </p>
            <p class="govuk-body">
                Children who have toothache, or need treatment, may have pain or infections. This can have a wider effect and lead to problems eating, sleeping, socialising and learning.
            </p>
            <h2 class="govuk-heading-m">Promoting oral health</h2>
            <p class="govuk-body">
                You can decide how you promote oral health, based on what works best in your setting. Ideally, you can link oral health to things you already promote, like self-care, healthy eating and physical development.
            </p>
            <p class="govuk-body">
                Be playful with children about oral health. Suggest they brush the teeth of dolls or soft toys. Read stories about teeth and smiles. Talk about healthy food and drinks that help to grow strong teeth, and those that do not. Get them to look at their own and each other’s teeth, using mirrors.
            </p>
            <p class="govuk-body">
                Talk about tooth brushing with fluoride toothpaste as children arrive. Give parents and carers knowledge and practical advice to support oral health at home.
            </p>
            <p class="govuk-body">You can also support children’s awareness of oral health by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>visiting dentists or having them visit you</li>
                <li>providing or showing toothbrushing kits</li>
                <li>showing toothbrushing routines</li>
            </ul>
            <h2 class="govuk-heading-m">Supervised toothbrushing</h2>
            <p class="govuk-body">
                You can decide if you want to bring in supervised toothbrushing. There are various schemes that support this. Speak to your <a href="">local authority</a> about it and read the <a href="">supervised tooth brushing programme toolkit</a> from Public Health England.
            </p>
            <h2 class="govuk-heading-m">Useful resources</h2>
            <p class="govuk-body">
                <a href="#1">Public Health England: health matters child dental health</a>, guidance to help you prevent tooth decay in children under 5, including links to e-learning.
            </p>
            <p class="govuk-body">
                <a href="#2">Children’s Oral Health: healthcare e-learning</a>, aimed at parents, early years healthcare workers, teachers, nurses, GPs and the public.
            </p>
            <p class="govuk-body">
                <a href="#3">Oral Health Foundation: early years foundation stage</a>, how children can keep their mouth healthy and the best way to brush your teeth.
            </p>
            <p class="govuk-body">
                <a href="#4">OImproving oral health in early years:</a> National Institute for Health and Care Excellence Pathways.
            </p>
            <p class="govuk-body">
                PACEY’s <a href="#5">oral health advice: includes factsheet for parents.</a>
            </p>
            <p class="govuk-body">
                PACEY’s <a href="#6">nutrition spotlight, encouraging healthy eating habits.</a>
            </p>
            <p class="govuk-body">
                <a href="#8">Delivering oral health from Public Health England</a>, includes a quick guide to healthy mouths in children.
            </p>
            <p class="govuk-body">
                <a href="#7">Change4life children’s centre toolkit</a> from Public Health England, for promoting healthy eating and dental health.
            </p>
            <hr>
            <h3 class="govuk-heading-s">
                Sections in this area:
            </h3>
            <nav role="navigation" class="govuk-sideways__nav">
                <ul class="govuk-list govuk-sideways__nav">
                    <li class="govuk-sideways__item is-active">
                        Oral health
                    </li>
                    <li class="govuk-sideways__item">
                        <a href="#11">Food safety</a>
                    </li>
                    <li class="govuk-sideways__item">
                        <a href="#22">Internet safety</a>
                    </li>
                    <li class="govuk-sideways__item">
                        <a href="#33">Sensory food education</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
