{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}
    <div id="textSelection" class="colour-distinction">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-phase-banner">
                        <p class="govuk-phase-banner__content">
                            <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                            <span class="govuk-phase-banner__text">
                                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                            </span>
                        </p>
                    </div>
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Get help to improve your practice</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Mental health for early years children  </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-third ">
                    <nav role="navigation" class="app-subnav">
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Communication and language</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Interactions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring language</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Listening and
                                understanding</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Physical development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Core strength and
                                co-ordination</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Gross motor skills</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Fine motor skills</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Personal, social and emotional development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Emotions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sense of self</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Relationships</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Literacy</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reading comprehension</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring words</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Writing</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Mathematics</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Numbers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Patterns and connections</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Spatial reasoning</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Understanding the world</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Personal experiences</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Diverse world</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Widening vocabulary</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Expressive arts and design
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Imagination and
                                creativity</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Self-expression</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Communicating through
                                arts</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                           href="get-help-practice">
                            <p class="app-subnav__theme">
                                Get help to improve your practice
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Curriculum planning</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reducing paperwork</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Working
                                in partnership with parents and carers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">English
                                as an additional language (EAL)</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Meeting the
                                needs of all children</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sensory food
                                education</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="text-selection">Early years practitioner wellbeing</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Safeguarding and welfare
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Oral health</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Food safety</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Internet safety</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__section-item--current"
                                   href="childrens-mental-health">Children's mental health</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        Mental health for early years children
                    </h1>
                    <h2 class="govuk-body">Contents</h2>
                    <ul class="contents-list__list">
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what">What mental health means for babies and young children</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#regulation">Self-regulation and co-regulation </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#role">Your role in supporting mental health in the early years</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#key">The importance of the key person</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#recognising">Recognising emotional and behavioural changes</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#extra">Identifying when children need extra support</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#partnership">Working in partnership with parents, carers and specialists</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#safeguarding">Safeguarding </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#strategies">Emotional and behavioural support strategies</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#children-heightened">Strategies to support children in a heightened emotional state </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#babies-heightened">Strategies to support babies in a heightened emotional state</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#crying">Strategies to support a crying child</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#sleep">Strategies to support sleep routines </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#anxious">Strategies to support an anxious child </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#new">Strategies to support new children in your setting</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#agression">Strategies to address aggression </a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#withdrawn">Strategies to support a withdrawn child</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#resources">Useful resources</a></li>
                      </ul>

                      

<p class="govuk-body govuk-!-margin-top-6">Get information and guidance on how to support babies and young children with their mental health.</p>

<h2 class="govuk-heading-m" id="what">What mental health means for babies and young children</h2>
<p class="govuk-body">The term &lsquo;mental health&rsquo; for babies and young children describes their wellbeing in terms of their social and emotional development.</p>
<p class="govuk-body">Each baby or child will have different experiences with their mental health. Many factors can influence their social and emotional development and wellbeing. This includes things like the quality of their relationship with their parents and carers, nutrition and their experiences in the womb.</p>

<h2 class="govuk-heading-m" id="regulation">Self-regulation and co-regulation</h2>
    
<p class="govuk-body">Self-regulation is our ability to adapt, adjust and control our emotions, actions and thoughts. It plays an essential role in mental health. Self-regulation helps us to:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>persevere in challenging situations</li>
    <li>ignore distractions</li>
    <li>think before acting</li>
</ul>
    
<p class="govuk-body">Children are not born with the ability to self-regulate. These skills are shaped by their temperament and their experiences in the womb and in early childhood. These skills must be developed over time.</p>
<p class="govuk-body">Children need to continually learn and develop their self-regulation skills throughout the Early Years Foundation Stage (EYFS). To do this they need responsive, sensitive care from the adults around them.</p>
<p class="govuk-body">Responsive and supportive relationships are where adults notice and understand children&rsquo;s emotions and needs and respond appropriately. This includes soothing children and calming them down. This is called co-regulation. Responsive relationships with reliable adults, like early years practitioners, will help children build their self-regulation skills.</p>
<p class="govuk-body">These skills are not only critical during the early years but are also key to being mentally healthy throughout childhood, adolescence and into adulthood. Helping children learn to self-regulate during the early years supports lifelong emotional wellbeing.</p>


<h2 class="govuk-heading-m" id="role">Your role in supporting mental health in the early years</h2>

<p class="govuk-body">Babies and young children feel more secure when they form close relationships with reliable adults who are consistently available to them. When they experience loving and nurturing environments and relationships, they are also more likely to:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>learn how to build and maintain healthy relationships</li>
    <li>develop a healthy stress response system, which reduces the risk of stress-related illnesses</li>
    <li>learn how to self-regulate</li>
    <li>develop the skills that support good mental health throughout life</li>
</ul>
    
<p class="govuk-body">Practitioners, particularly a child&rsquo;s key person, can help by responding to them in a warm, calm and understanding way. This encourages co-regulation, and helps children learn how to manage their own emotions and responses.  </p>


<h2 class="govuk-heading-m" id="key">The importance of the key person</h2>
    
<p class="govuk-body">Every child in the EYFS must have a named key person. This is a practitioner who has a close relationship with their key children and works in close partnership with their parents and carers. A positive relationship between a key person and their key children is central to supporting their mental health.</p>
   
<p class="govuk-body">As a key person, it is important to remember that all babies and young children are different. These differences shape what positive mental health looks like for them and the support they need from you.</p>
        
<p class="govuk-body">You should:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>get to know and understand the child as an individual</li>
    <li>learn to understand the child&rsquo;s cues and the ways they communicate</li>
    <li>respond sensitively to their needs</li>
    <li>form a secure bond with them</li>
</ul>
    

<h2 class="govuk-heading-m" id="recognising">Recognising emotional and behavioural changes</h2>
    
<p class="govuk-body">How very young children behave is an important way in which they express their feelings.  It can also be a key indicator of how mentally healthy they are.</p>
<p class="govuk-body">It is important to understand that every child will grow and develop at different rates and have different experiences. The intensity and frequency of the emotions and behaviours they display can change from child to child and at different ages.</p>
<p class="govuk-body">As a practitioner, it is important that you get to know your children and understand their individual patterns of behaviour. This can help you to notice and understand changes in their:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>responses, interactions and engagement</li>
    <li>interests</li>
    <li>emotional wellbeing and behaviour</li>
    <li>appetite and energy levels</li>
    <li>toileting, feeding and sleeping patterns</li>
</ul>

<p class="govuk-body">This will help you identify when these changes may be a cause for concern.</p>


<h2 class="govuk-heading-m" id="extra">Identifying when children need extra support</h2>
    
<p class="govuk-body">Some emotional and behavioural changes in children can be quite normal. They may be due to regular developmental growth periods like teething and growth spurts. A child may also behave differently when they feel unwell.</p>
<p class="govuk-body">However, some changes may be caused by:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>developmental delay</li>
    <li>an educational support need</li>
    <li>a trauma or bereavement</li>
    <li>high levels of stress at home</li>
    <li>difficulties in relationships with parents or caregivers</li>
    <li>a mental health problem</li>
    <li>physical illness</li>
    <li><a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.gov.uk.mcas.ms%2Fgovernment%2Fpublications%2Fwhat-to-do-if-youre-worried-a-child-is-being-abused--2%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194" rel="noreferrer noopener">abuse, neglect, or both</a></li>
</ul>
    
    
<p class="govuk-body">In these cases, children may display behaviours or emotions that seem to be more severe, happen more often, or last longer than usual. It is important to be attentive to the child and curious about the cause of these issues.  They may put themself or others at risk or find their own emotions and behaviour overwhelming. This can impact on their physical health and development.</p>
<p class="govuk-body">Heightened emotional states in young children can also lead to behaviours that you may find concerning. Some examples could include children:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>being very overactive or restless</li>
    <li>often feeling irritable or unhappy</li>
    <li>finding it difficult to respond to caregiver&rsquo;s cues</li>
    <li>struggling to self soothe after a change in routine or separation from a caregiver</li>
    <li>often experiencing overwhelming anxiety which interferes with their daily life</li>
    <li>regularly displaying what you perceive as angry or aggressive behaviours</li>
    <li>having frequent &lsquo;temper tantrums&rsquo; - this is a term used by the NHS. It describes a heightened state where children are unable to manage their emotions or behaviour</li>
    <li>showing little interest in social interaction, or being very withdrawn</li>
    <li>developing regular habit problems, for example with toileting</li>
    <li>being unable to develop routines, for example for sleep and feeding</li>
</ul>
     
<p class="govuk-body">Every child may display these emotions and behaviours from time to time. It&rsquo;s for you to decide whether they are concerning for a particular child. To do so, you can think about:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>how often the emotions and behaviours happen</li>
    <li>how intense they are</li>
    <li>whether there is a known cause - such as illness, being hungry or a stressful event at home</li>
    <li>whether the child usually displays these behaviours - based on your own experiences and those of their parents and carers</li>
</ul>

<p class="govuk-body">Some children&rsquo;s emotions can cause them to display behaviours you find concerning. It is important for you to be curious about the causes of these behaviours and explore these with parents and carers. For most children, using different behavioural and emotional support strategies in your setting will be enough to secure their development.</p>

<p class="govuk-body">However, some children will need more support. This is why it is so important that you try to understand the cause of the behaviour and get advice where necessary.</p>


<h2 class="govuk-heading-m" id="partnership">Working in partnership with parents, carers and specialists</h2>

<p class="govuk-body">If you are worried about a child, always get professional advice and follow your setting&rsquo;s procedures, where relevant. This may include discussing concerns with your:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>supervisors, managers, or senior leaders</li>
    <li>local authority</li>
    <li>area Special Educational Needs Coordinator (SENCo).</li>
</ul>
<p class="govuk-body">When getting external support, make sure to engage parents and carers in the process at all stages. This includes involving them in:</p>
    
<ul class="govuk-list govuk-list--bullet">
    <li>sharing their thoughts</li>
    <li>assessing their child&rsquo;s needs</li>
    <li>planning next steps</li>
    <li>reviewing their child&rsquo;s progress</li>
</ul>
    
<p class="govuk-body">You should help parents and carers to understand the importance of positive mental health in the early years. When doing this, it can be helpful to use language such as &lsquo;emotional wellbeing&rsquo;. The best outcomes happen when practitioners and parents work together to support a struggling child.</p>

<p class="govuk-body">You could also consider encouraging parents to talk to their GP or health visitor.</p>


<h2 class="govuk-heading-m" id="safeguarding">Safeguarding</h2>

<p class="govuk-body">If you are even slightly concerned that a child&rsquo;s change in behaviour may be due to a safeguarding issue, you must follow your setting&rsquo;s safeguarding procedure. Inform the lead practitioner responsible for safeguarding. Where necessary, you should also notify the relevant local safeguarding partners.</p>


<h2 class="govuk-heading-m" id="strategies">Emotional and behavioural support strategies</h2>

<p class="govuk-body">Find out how you can support early years children with common emotional and behavioural challenges.</p>    

<p class="govuk-body">Common emotional and behavioural challenges in the early years</p>
    
<p class="govuk-body">When children are struggling to process their emotions, they may display a range of common behaviours. These include:</p>

    <ul class="govuk-list govuk-list--bullet">
    <li>a heightened emotional state</li>
    <li>crying or fussiness</li>
    <li>sleeping and toileting problems</li>
    <li>anxiety</li>
    <li>aggression</li>
    <li>withdrawn behaviour  <br></li>
</ul>

<p class="govuk-body">As a practitioner, you can put emotional and behavioural support strategies in place to help the children in your setting. For most children, if these strategies are also being implemented at home, this will be enough to address these challenges.</p>


<h2 class="govuk-heading-m" id="children-heightened">Strategies to support children in a heightened emotional state</h2>
    
<p class="govuk-body">Throughout the EYFS, children are still learning to self-regulate. You should therefore be supportive of them when they experience all kinds of emotions. This includes a heightened emotional state where they are not able to manage their emotions or behaviour. You should also try to understand what the underlying cause of the emotion or behaviour might be.</p>
<p class="govuk-body">To help children who are struggling to self-regulate, you can try some of the following strategies.</p>

<h3 class="govuk-heading-s">Talk to them in a slow and calm way</h3>
<p class="govuk-body">This can help them co-regulate their emotional responses.</p>

<h3 class="govuk-heading-s">Offer them a hug</h3>
<p class="govuk-body">A hug can soothe, calm and make a child feel safe. They may be feeling alarmed by their own behaviour.</p>
<p class="govuk-body">However, some children may not be ready for physical contact until they are calmer. You may want to quietly sit close to them and let them know you are there when they are ready to come and sit with you.</p>

<h3 class="govuk-heading-s">Let them know that you understand how they are feeling</h3>
<p class="govuk-body">Think about why the child is feeling or behaving this way and explain it to them so they feel understood. For example, you can say &ldquo;I know that you feel angry when someone snatches your toy.&rdquo;</p>

<h3 class="govuk-heading-s">Encourage them to do something physical to release the energy</h3>
<p class="govuk-body">You could encourage them to run outside, dance or stamp.</p>

<h3 class="govuk-heading-s">Find a distraction</h3>
<p class="govuk-body">Try to distract the child by pointing to something in the room or by switching to a topic you know they are interested in.</p>
<p class="govuk-body">However, use distraction carefully.  It is always important to acknowledge a child&rsquo;s feelings and help them work through them.</p>

<h3 class="govuk-heading-s">Use simple relaxation techniques</h3>
<p class="govuk-body">Encourage the child to take 3 deep, slow breaths, breathing in for a count of 3 and out for 3.</p>
<p class="govuk-body">For young babies and toddlers, it can help if you hold them and breathe slowly and deeply. Your calm breathing will help them to regulate their breathing too.</p>

<h3 class="govuk-heading-s">Use activities like role play, stories and creative play</h3>
<p class="govuk-body">Once the child is in a less heightened state of emotion, you can use role play, stories and creative play to help them express and make sense of their feelings.</p>

<h2 class="govuk-heading-m" id="babies-heightened">Strategies to support babies in a heightened emotional state</h2>

<p class="govuk-body">First check to make sure the baby is comfortable, fed, and has a clean nappy.</p>

<p class="govuk-body">You should also check to see if they are showing signs of tiredness, such as:</p>

<ul class="govuk-list govuk-list--bullet">
<li>glazed eyes</li>
<li>looking away from people or activities</li>
<li>slowed responses</li>
<li>rubbing their eyes</li>
<li>&ldquo;gnawing&rdquo; on their fist or fingers</li>
</ul>

<p class="govuk-body">For a fussy or crying baby, you can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>go to a quieter space, for yourself and the baby</li>
<li>cuddle them</li>
<li>gently rock them</li>
<li>hold them against your chest and take deep, slow breaths</li>
<li>softly &lsquo;shush&rsquo; them</li>
<li>walk with them</li>
</ul>


<h2 class="govuk-heading-m" id="crying">Strategies to support a crying child</h2>

<p class="govuk-body">Crying is a common way in which babies and children express difficult emotions. When a child is crying, it is important to approach them with understanding and patience.</p>

<p class="govuk-body">Along with the strategies above, the following strategies can help you to soothe and calm a crying child.</p>
    
<h3 class="govuk-heading-s">Be there to listen to their concerns</h3>
<p class="govuk-body">Children need calm, warm and supportive responses from practitioners to help them understand their feelings, emotions and behaviours. You should create an environment where children are encouraged to express their feelings, and where they know adults will respond and listen to them.</p>

<h3 class="govuk-heading-s">Help them to identify their emotions</h3>
<p class="govuk-body">Helping children to find words to name their feelings teaches them to understand and accept different emotions. You could also ask the child to think about how their emotions are impacting their body physically.</p>
<h3 class="govuk-heading-s">Suggest they come with you to wash their face</h3>    
<p class="govuk-body">Sometimes washing tears from a child&rsquo;s face with cool water will have a calming effect. This can help them regulate their emotions.</p>
    
    
<h2 class="govuk-heading-m" id="sleep">Strategies to support sleep routines</h2>
    
<p class="govuk-body">If there are children in your setting who struggle with their sleeping patterns, you can:</p>
    
<ul class="govuk-list govuk-list--bullet">
<li>recreate their at-home sleep routine, or aspects of it, where possible</li>
<li>spend time winding down and doing calm activities before nap time</li>
<li>offer them a familiar toy or blanket to cuddle</li>
<li>help them understand and explore sleep through conversation, storytelling and role play - for example, you could set up a bedroom in the setting and role play going to sleep</li>
</ul>
    
    
<h2 class="govuk-heading-m" id="anxious">Strategies to support an anxious child</h2>
    
<p class="govuk-body">Children might feel anxious when faced with a new situation such as:</p>
    
<ul class="govuk-list govuk-list--bullet">
<li>starting nursery</li>
<li>when they are introduced to unfamiliar people &ndash; this is known as &lsquo;stranger anxiety&rsquo;</li>
<li>when they are separated from their parent or carer- this is known as &lsquo;separation anxiety&rsquo;</li>
<li>Remember that it is normal for all children to be fearful or anxious from time to time. However, children may need help if they often experience overwhelming anxiety which interferes with their daily life. You can use the following strategies to help an anxious child:</li>
</ul>

<h3 class="govuk-heading-s">Let them know you are there to listen and help with their worries</h3>

<p class="govuk-body">Always take a child&rsquo;s anxiety seriously. Tell the child you have noticed that they seem worried and encourage them to talk about it. Spend time listening and getting a real idea about the child&rsquo;s specific worries, feelings, and thoughts.</p>
    
<p class="govuk-body">If they do not want to talk, do not force them to. Try and show that you understand how they feel and that you believe their feelings are valid.</p>

<h3 class="govuk-heading-s">Reassure them and help them find solutions</h3>
<p class="govuk-body">Once you have listened to how the child is thinking and feeling, you could suggest a different way of looking at a worry. You can also offer potential solutions to help.</p>

<h3 class="govuk-heading-s">Prepare them for change</h3>
<p class="govuk-body">Try to prepare children who you know are due to experience a significant change. This could include the birth of a sibling, moving house or starting school. You can do this by talking to them about what is going to happen and why.</p>
<p class="govuk-body">When talking to the child about future events, try not to create an expectation that it will be difficult. Talk to them about positive aspects of the experience.  You could also read stories to them that show the scenario they are about to experience or create relevant role play areas.</p>

<h3 class="govuk-heading-s">Help them cope with separation anxiety</h3>
<p class="govuk-body">To help reduce separation anxiety, encourage parents and carers to say goodbye in an upbeat way. This could include smiling and waving happily and confidently. This will prevent children from picking up on any worries a parent may have about leaving their child. It can also boost their confidence that it is safe to be left.</p>
<p class="govuk-body">If younger babies and children seem worried about being left, offer cuddles and gentle distractions.  Help the child to become engaged in activities.  It may be helpful to introduce them into parallel play with other children and activities.</p>
<p class="govuk-body">For slightly older children, you could talk to them and offer reassurance that their parent or carer will return. Try to show them that you understand how they are feeling.</p>
<p class="govuk-body">You can also give children familiar items. Ask parents and carers what the child enjoys playing with at home. Then, encourage them to play with similar toys in the setting. You could also offer them comforting items, like a blanket or a teddy. Some children like having pictures of their family they can carry with them.</p>


<h2 class="govuk-heading-m" id="new">Strategies to support new children in your setting</h2>
<p class="govuk-body">Children are all different, and some may take longer to feel comfortable in new environments. It is important to be gentle and to take things slowly with these children. They may need extra support from their key person and a more phased approach to starting in the setting. Keeping set routines in your setting, and telling these children about upcoming changes in advance, can also help.</p>
<p class="govuk-body">Children in the earlier stages of starting at your setting, or who are transitioning back following a break away, may need more support. It can be helpful to be present with them to help them manage transitions from one activity in the schedule to the next.</p>


<h2 class="govuk-heading-m" id="agression">Strategies to address aggression</h2>
<p class="govuk-body">Most young children will sometimes show behaviour that you perceive as aggressive. This is a normal part of child development. This kind of behaviour usually starts from a feeling of intense emotion that they find difficult to process. This could include anger, fear or frustration.</p>
<p class="govuk-body">Children need adults to help them understand and express difficult feelings without behaving in a way that could hurt themselves or others.</p>
<p class="govuk-body">You can use several strategies to help a child showing behaviours you perceive as aggressive.</p>

<h3 class="govuk-heading-s">Try to stay calm</h3>
<p class="govuk-body">Coping with behaviour you consider to be aggressive can be difficult. However, it is important to stay as calm as possible. Remaining calm may be reassuring for the child and help them regulate their own emotions.</p>

<h3 class="govuk-heading-s">Work together to identify early signs of intense emotions</h3>
<p class="govuk-body">Intense emotions may lead children to display feelings of anger. Talk to the child about how they feel in their body when they start to get angry. This will help them learn how to notice the signs of anger. It will also give them the chance to express this feeling of intense emotion in other ways.</p>

<h3 class="govuk-heading-s">Find ways to manage physical feelings</h3>    
<p class="govuk-body">Encourage children to do something physical to release their energy, like running or jumping. You could also encourage them to use simple calming techniques. For example, ask children to count to 10, breathe slowly and deeply, scrunch up their face or fists, and then release them.</p>
    
<p class="govuk-body">You can also let children know that:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>they are not alone</li>
    <li>It&apos;s okay to feel angry</li>
    <li>they can express these feelings in other ways</li>
</ul>


<h2 class="govuk-heading-m" id="withdrawn">Strategies to support a withdrawn child</h2>

<p class="govuk-body">From birth, children have an inbuilt instinct to interact with their caregivers. However, all children sometimes need downtime. It is normal for them to avoid interacting with their caregiver when they need a break.</p>

<p class="govuk-body">Some children are more naturally quiet and reserved than others. Where this is the case, you will need to adapt to their needs.</p>

<p class="govuk-body">To help a withdrawn child, you can use the following strategies.</p>

<h3 class="govuk-heading-s">Use the secure relationship between the child and their key person</h3>
<p class="govuk-body">A key part of this relationship also involves responding sensitively to children&rsquo;s verbal and non-verbal cues. This helps you understand the child and what they need.</p>

<h3 class="govuk-heading-s">Introduce new experiences gradually</h3>
<p class="govuk-body">Build up your interactions with children slowly. To do this, you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>start gently, showing consistent and appropriate interest in them, their play, and their communications</li>
    <li>make sure you give them the space they need</li>
    <li>let them approach new experiences in their own time.</li>
</ul>

<p class="govuk-body">Some babies and children are very withdrawn. They may be very passive and quiet, avoiding eye-contact and physical touch. It is important to be curious as to why a baby or child acts like this as it may be the result of difficult relationships with other adults in their lives.</p>

<p class="govuk-body">Remember, if you are even slightly concerned that a child&rsquo;s behaviour may be due to a safeguarding issue then you must follow your setting&rsquo;s safeguarding procedure.  Inform the lead practitioner responsible for safeguarding and where necessary notify the relevant local safeguarding partners.</p>


<h2 class="govuk-heading-m" id="resources">Useful resources</h2>
<p class="govuk-body">UNICEF and the University of Cambridge&rsquo;s Centre for Research on Play in Education, Development &amp; Learning (PEDAL) offer guidance on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.unicef.org.uk.mcas.ms%2Fcampaign-with-us%2Fearly-moments-matter%2Fearly-childhood-mental-health-toolkit%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">understanding and supporting mental health in infancy and early childhood.</a></p>
<p class="govuk-body">NHS Every Mind Matters gives advice and information on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.nhs.uk.mcas.ms%2Fevery-mind-matters%2Fsupporting-others%2Fchildrens-mental-health%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">looking after a child or young person&rsquo;s mental health</a>.</p>
<p class="govuk-body">Maudsley Charity&rsquo;s <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fmaudsleycharity.org.mcas.ms%2Ffamiliesunderpressure%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">Families Under Pressure</a> includes tips and tricks from NHS mental health experts for supporting children with their emotions and behaviour.</p>
<p class="govuk-body">MindEd suggest <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.minded.org.uk.mcas.ms%2FContentServer%2Fcontent%2FHCP_06_011%2Fpdf%2Ftht_hcp.pdf%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">ten handy tips for managing  behaviour that can be difficult.</a></p>
<p class="govuk-body">The Anna Freud Centre has some advice on how to <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Ftrauma%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">recognise trauma in young children</a>, along with strategies and tips you can share with families.</p>
<p class="govuk-body">The Anna Freud Centre also has some advice on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fresources%2Fsharing-concerns-about-a-child%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">Sharing concerns about a child with</a> parents and carers.</p>
<p class="govuk-body">DfE has <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.gov.uk.mcas.ms%2Fgovernment%2Fpublications%2Fwhat-to-do-if-youre-worried-a-child-is-being-abused--2%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">guidance to help practitioners identify the signs of child abuse and neglect and understand what action to take</a>.</p>
<p class="govuk-body"><a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Frelationship-with-the-key-person-in-a-childcare-setting%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">The role of a key person</a> is explained by The Anna Freud Centre.</p>
<p class="govuk-body">The Anna Freud Centre has some advice regarding <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Fwithdrawn-behaviour%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">Withdrawn or passive behaviour in babies, small children - Anna Freud Centre</a>.</p>

<p class="govuk-body">NHS has advice on <span title="Sorry, Word can't open this link in a browser. To go to this link, please open this document in the desktop version of Microsoft Word.">soothing a crying baby. </span></p>
<p class="govuk-body">The Anna Freud Centre has advice on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Fcrying%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">how to deal with babies and young children crying. </a></p>
<p class="govuk-body">NHS has advice on how to cope with <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.nhs.uk.mcas.ms%2Fconditions%2Fbaby%2Fbabys-development%2Fbehaviour%2Ftemper-tantrums%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">temper tantrums in young children</a>.</p>
<p class="govuk-body">The Anna Freud Centre has some <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Ftantrums%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">advice on how manage tantrums.</a></p>
<p class="govuk-body"><a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Fsleep%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">Learn about early years sleeping patterns - Anna Freud Centre</a>.</p>
<p class="govuk-body">The Sleep Charity offer some useful <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fthesleepcharity.org.uk.mcas.ms%2Finformation-support%2Fadvice-sheets%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">Advice Sheets</a> for children and helping them to sleep.</p>
<p class="govuk-body">NHS offers some advice on signs on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.nhs.uk.mcas.ms%2Fmental-health%2Fchildren-and-young-adults%2Fadvice-for-parents%2Fanxiety-in-children%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">anxiety in children and how to help.</a></p>
<p class="govuk-body">The NHA also offers some helpful advice on <span title="Sorry, Word can't open this link in a browser. To go to this link, please open this document in the desktop version of Microsoft Word.">separation anxiety with some useful tips</span>.</p>
<p class="govuk-body">The Anna Freud Centre offers advice on different types of <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Fanxiety%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">anxiety in children and how to manage them.</a></p>
<p class="govuk-body">Childline offers some useful tips for <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.childline.org.uk.mcas.ms%2Ftoolbox%2Fcalm-zone%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">older children on ways to feel calmer</a></p>
<p class="govuk-body">The NHS has advice on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.nhs.uk.mcas.ms%2Fmental-health%2Fchildren-and-young-adults%2Fadvice-for-parents%2Fhelp-your-child-with-anger-issues%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">helping</a> children with anger issues.</p>
<p class="govuk-body">The Anna Freud Centre has advice on <a href="https://mcas-proxyweb.mcas.ms/certificate-checker?login=false&originalUrl=https%3A%2F%2Fwww.annafreud.org.mcas.ms%2Fearly-years%2Fearly-years-in-mind%2Fcommon-difficulties%2Faggression%2F%3FMcasTsid%3D20892&McasCSRF=927fed5711a513cdc378b13484a077c97e87bce10e84a48be4399b9b17f11194"  rel="noreferrer noopener">aggression in the early years.</a></p>


                    
                    <div class="app-search-form-container govuk-!-margin-bottom-4">
                        <h2 class="govuk-heading-s">
                            Get alerts for new EYFS resources
                        </h2>
                        <p class="govuk-body">
                            <a class="govuk-body" href="/v1/training">Sign up to get emails when we add new early years foundation stage resources to this website</a>
                        </p>
                    </div>

                    <nav class="govuk-pagination govuk-pagination--block govuk-!-margin-top-6"
                    role="navigation"
                    aria-label="results">
                   <div class="govuk-pagination__prev">
                       <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                           <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                                xmlns="http://www.w3.org/2000/svg"
                                height="13"
                                width="15"
                                aria-hidden="true"
                                focusable="false"
                                viewBox="0 0 15 13">
                               <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                               </path>
                           </svg>
                           <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                           <span class="govuk-pagination__link-label">Sensory food education</span></a>
                   </div>
                   <div class="govuk-pagination__next">
                       <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                           <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                                xmlns="http://www.w3.org/2000/svg"
                                height="13"
                                width="15"
                                aria-hidden="true"
                                focusable="false"
                                viewBox="0 0 15 13">
                               <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                               </path>
                           </svg>
                           <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
                           <span class="govuk-pagination__link-label">Safeguarding and welfare</span></a>
                   </div>
               </nav>
               <p>
                <a href="#">Back to top</a>
            </p>
            <button class="govuk-link govuk-body-s print-link__button"
                    data-track-category="printButton"
                    data-track-action="clicked"
                    data-track-label="Print this page"
                    data-module="print-link"
                    data-print-link-module-started="true">
                Print this page
            </button>
                    </div>
            </div>
        </div>
    </div>

    <div class="vote-button-container">
        <div class="govuk-width-container">
            {% include "includes/text-selection-buttons.html" %}
        </div>
    </div>
    {{ super() }}
{% endblock %}
