{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}
    <div id="textSelection" class="colour-distinction">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-phase-banner">
                        <p class="govuk-phase-banner__content">
                            <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                            <span class="govuk-phase-banner__text">
                                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                            </span>
                        </p>
                    </div>
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Get help to improve your practice</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">2024 changes to the EYFS framework</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-third ">
                    <nav role="navigation" class="app-subnav">
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Communication and language</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Interactions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring language</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Listening and
                                understanding</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Physical development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Core strength and
                                co-ordination</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Gross motor skills</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Fine motor skills</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Personal, social and emotional development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Emotions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sense of self</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Relationships</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Literacy</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reading comprehension</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring words</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Writing</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Mathematics</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Numbers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Patterns and connections</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Spatial reasoning</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Understanding the world</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Personal experiences</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Diverse world</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Widening vocabulary</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Expressive arts and design
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Imagination and
                                creativity</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Self-expression</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Communicating through
                                arts</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                           href="get-help-practice">
                            <p class="app-subnav__theme">
                                Get help to improve your practice
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Curriculum planning</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reducing paperwork</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Working
                                in partnership with parents and carers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">English
                                as an additional language (EAL)</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Meeting the
                                needs of all children</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sensory food
                                education</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="#">Early years practitioner wellbeing</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__section-item--current"
                                   href="eyfs-2024-reforms">2024 changes to the EYFS framework</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Safeguarding and welfare
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Oral health</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Food safety</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Internet safety</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="childrens-mental-health">Children's mental health</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        2024 Changes to the early years foundation stage (EYFS) framework 
                    </h1>

                    <p class="govuk-body">The Early Years Foundation Stage (EYFS) statutory framework is mandatory for all early years settings. It sets the standards that all early years providers must meet to ensure that children learn and develop well and are kept healthy and safe.</p>

                    <p class="govuk-body">The framework is for all Ofsted registered early years providers in all settings, including:</p>
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>nurseries</li>
                        <li>childminders</li>
                        <li>pre-schools</li>
                        <li>reception</li>
                    </ul>
                        
                    <p class="govuk-body">The framework will change on <b>4 January 2024</b> and you can find out more below about the changes and how they affect you. </p>

                    <h2 class="govuk-body">Contents</h2>
                    <ul class="contents-list__list govuk-!-margin-bottom-6">
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#why-changes">Why the changes have been made</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#childminders">Changes for childminders</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#group-based">Changes for group and school-based providers</a></li>
                        <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#resources">Printable resources</a></li>
                    </ul>

                    <button class="govuk-link govuk-body-s print-link__button"
                            data-track-category="printButton"
                            data-track-action="clicked"
                            data-track-label="Print this page"
                            data-module="print-link"
                            data-print-link-module-started="true">
                        Print this page
                    </button>

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    <h2 class="govuk-heading-m govuk-!-margin-top-6" id="why-changes">Why the changes have been made</h2>

                    <p class="govuk-body">The changes have been made to ensure providers can operate successfully and practitioners can:  </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>focus on providing children in their care with a high-quality early education</li>
                        <li>have opportunities to progress their careers </li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    <h2 class="govuk-heading-m" id="childminders">Changes for childminders</h2>

                    <p class="govuk-body">There will now be two versions of the EYFS: one for childminders, and one for group and school-based providers. Make sure you are referring to the right version for you when you need to.</p>
                    <p class="govuk-body"><b>Childminders must:</b></p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>ensure your setting’s safeguarding policies and procedures include all electronic devices with imaging and sharing capabilities, not just mobile phones and cameras.</li>
                        <li>check all level 2/3 staff members hold a valid PFA certificate, otherwise they should not be included in ratio</li>
                    </ul>

                    <p class="govuk-body"><b>Childminders should know that:</b></p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>settings will no longer be required to provide opportunities for children to develop and use their home language in play and learning – consider what the best way to support children in your setting</li>
                        <li>you will no longer be required to complete training on the EYFS before registration</li>
                        <li>where judged appropriate by a childminder, childminding assistants can now fulfil the role of key person for a child</li>
                        <li>childminders with open plan kitchen-living areas can now utilise safely useable areas within this room for their provision</li>
                        <li>all level 2/3 staff members should hold a valid PFA certificate, otherwise they should not be included in ratio</li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    <h2 class="govuk-heading-m" id="group-based">Changes for group and school-based providers</h2>

                    <p class="govuk-body">There will now be two versions of the EYFS: one for childminders, and one for group and school-based providers. Make sure you are referring to the right version for you when you need to.</p>
                    <p class="govuk-body"><b>Group and school-based settings must:</b></p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>ensure setting managers employed on or after 4 January 2024 must hold a level 2 maths qualification, or must achieve one within 2 years of starting in the position - make sure this is the case in your setting</li>
                        <li>ensure your setting’s safeguarding policies and procedures include all electronic devices with imaging and sharing capabilities, not just mobile phones and cameras</li>
                        <li>check all level 2/3 staff members hold a valid PFA certificate, otherwise they should not be included in ratio</li>
                    </ul>

                    <p class="govuk-body"><b>Group and school-based settings should know that:</b></p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>level 3 practitioners in group and school-based settings will no longer be required to hold a level 2 maths qualification to count within staff:child ratios</li>
                        <li>a manager in group and school-based settings can now allow students and apprentices to count in staff:child ratios at the level below their level of study, if the manager is satisfied that they are competent and responsible</li>
                        <li>settings will no longer be required to provide opportunities for children to develop and use their home language in play and learning – consider what the best way to support children in your setting</li>
                        <li>all level 2/3 staff members should hold a valid PFA certificate, otherwise they should not be included in ratio</li>
                    </ul>

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    <h2 class="govuk-heading-m" id="resources">Printable resources</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="../../public/images/2024-reforms.pdf">Information poster to notify collegues of changes including QR code (PDF)</a></li>
                        <li><a href="../../public/images/2024-changes-for-childminders.pdf">Detailed information sheet for childminders (PDF)</a></li>
                        <li><a href="../../public/images/2024-changes-for-group.pdf">Detailed information sheet for group and school based providers (PDF)</a></li>
                    </ul>









                    
                    <div class="app-search-form-container govuk-!-margin-bottom-4 govuk-!-margin-top-9">
                        <h2 class="govuk-heading-s">
                            Get alerts for new EYFS resources
                        </h2>
                        <p class="govuk-body">
                            <a class="govuk-body" href="/v1/training">Sign up to get emails when we add new early years foundation stage resources to this website</a>
                        </p>
                    </div>

                    <p>
                <a href="#">Back to top</a>
                    </p>
                    <button class="govuk-link govuk-body-s print-link__button"
                            data-track-category="printButton"
                            data-track-action="clicked"
                            data-track-label="Print this page"
                            data-module="print-link"
                            data-print-link-module-started="true">
                        Print this page
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    {{ super() }}
{% endblock %}
