{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}
    <div id="textSelection" class="colour-distinction">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-phase-banner">
                        <p class="govuk-phase-banner__content">
                            <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                            <span class="govuk-phase-banner__text">
                                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                            </span>
                        </p>
                    </div>
                    <div class="govuk-breadcrumbs">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Get help to improve your practice</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-one-third ">
                    <nav role="navigation" class="app-subnav">
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Communication and language</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Interactions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring language</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Listening and
                                understanding</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Physical development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Core strength and
                                co-ordination</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Gross motor skills</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Fine motor skills</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Personal, social and emotional development</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Emotions</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sense of self</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Relationships</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Literacy</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reading comprehension</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Exploring words</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Writing</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Mathematics</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Numbers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Patterns and connections</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Spatial reasoning</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">Understanding the world</p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Personal experiences</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Diverse world</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Widening vocabulary</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Expressive arts and design
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Imagination and
                                creativity</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Self-expression</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Communicating through
                                arts</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__section-item--current"
                           href="">
                            <p class="app-subnav__theme">
                                Get help to improve your practice
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                                   href="">Curriculum planning</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Reducing paperwork</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Working
                                in partnership with parents and carers</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">English
                                as an additional language (EAL)</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Meeting the
                                needs of all children</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Sensory food
                                education</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="text-selection">Mental health</a>
                            </li>
                        </ul>
                        <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                           href="">
                            <p class="app-subnav__theme">
                                Safeguarding and welfare
                            </p>
                        </a>
                        <ul class="app-subnav__section ">
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Oral health</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Food safety</a>
                            </li>
                            <li class=" app-subnav__section-item ">
                                <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                   href="">Internet safety</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        Get help to improve your practice
                    </h1>
                    <p class="govuk-body">
                        Access resources and advice to help improve practice in the early years.
                    </p>
                    <p>
                        <a href="">Curriculum planning</a>
                    </p>
                    <p>
                        <a href="">Reducing paperwork</a>
                    </p>
                    <p>
                        <a href="">Working in partnership with parents and carers</a>
                    </p>
                    <p>
                        <a href="">English as an additional language (EAL)</a>
                    </p>
                    <p>
                        <a href="">Meeting the needs of all children</a>
                    </p>
                    <p>
                        <a href="">Sensory food education</a>
                    </p>
                    <p>
                        <a href="text-selection">Early years practitioner wellbeing</a>
                    </p>
                    <div class="app-search-form-container govuk-!-margin-bottom-4">
                        <h2 class="govuk-heading-s">
                            Get alerts for new EYFS resources
                        </h2>
                        <p class="govuk-body">
                            <a class="govuk-body" href="/v1/training">Sign up to get emails when we add new early years foundation stage resources to this website</a>
                        </p>
                    </div>
                    <nav class="govuk-pagination govuk-pagination--block govuk-!-margin-top-6"
                         role="navigation"
                         aria-label="results">
                        <div class="govuk-pagination__prev">
                            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                                <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                                     xmlns="http://www.w3.org/2000/svg"
                                     height="13"
                                     width="15"
                                     aria-hidden="true"
                                     focusable="false"
                                     viewBox="0 0 15 13">
                                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                                    </path>
                                </svg>
                                <span class="govuk-pagination__link-title">Previous</span><span class="govuk-visually-hidden">:</span>
                                <span class="govuk-pagination__link-label">Communicating through arts</span></a>
                        </div>
                        <div class="govuk-pagination__next">
                            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                                <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                                     xmlns="http://www.w3.org/2000/svg"
                                     height="13"
                                     width="15"
                                     aria-hidden="true"
                                     focusable="false"
                                     viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                    </path>
                                </svg>
                                <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
                                <span class="govuk-pagination__link-label">Curriculum planning</span></a>
                        </div>
                    </nav>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
                    <button class="govuk-link govuk-body-s print-link__button"
                            data-track-category="printButton"
                            data-track-action="clicked"
                            data-track-label="Print this page"
                            data-module="print-link"
                            data-print-link-module-started="true">
                        Print this page
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}
