{% extends "layout.html" %}
{% block pageTitle %}Home – Help for early years providers{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Help for early years providers</h1>
            <p class="govuk-body">Guidance for people who work in early years, from the Department for Education.</p>
            <div class="app-search-form-container govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-m">
                    Early years child development training
                </h1>
                <p class="govuk-body">
                    This free, online training provides an overview of child development and practical advice for supporting children in your setting.
                </p>
                <a class="govuk-body" href="/v1/training">Learn more and enrol</a>
            </div>
        </div>
    </div>
    <p>hello</p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Get help for your practice</h2>
        </div>
    </div>
    <hr>
    <h2 class="govuk-heading-m govuk-!-margin-top-4">Early years foundation stage (EYFS)</h2>
    <ul class="govuk-list">
        <p class="govuk-body">
            The early years foundation stage sets standards for the learning, development and care of children from birth to 5 years old.
        </p>
        <li>
            <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Statutory framework for the early years foundation stage</a>
        </li>
        <li>
            <a href="">Development Matters, non-statutory curriculum guidance for the early years foundation stage</a>
        </li>
        <li>
            <a href="">Supporting research</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
