
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Help for early years providers

  {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Help for early years providers
      
      </h1>
      <p class="govuk-body">Guidance and support for early years providers and childminders, from the Department for Education.</p>


      <h2 class="govuk-heading-m">Latest updates</h2>
     
      <div class="app-search-form-container govuk-!-margin-bottom-4">
   

            <h1 class="govuk-heading-s">Early years child development training</h1>
            <p class="govuk-body">Sign up to this free, online training course, created by the Department for Education and early years experts. Learn about the different stages of child development and how you can support children in your early years setting.  </p>
            <a class="govuk-body" href="/v1/training">Find out more and enrol</a>
          </div>

       
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Get help for your practice</h2>

      </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-card__flex-container">
            <div class="govuk-card__flex-item">
              <div class="govuk-card govuk-card__nopadding govuk-card--contained govuk-card--selectable govuk-card__height">
                <a href="/v1/areas-of-learning"></a>
                <img src="../../public/images/reading-fox.jpg" style="width:100%">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">EYFS areas of learning</h3>
                  <p class="govuk-body">Information about the core areas of learning in the early years foundation stage (EYFS), plus ideas for activities to do with children. </p>

                </div>
              </div>

            </div>
            
          </div>

          

        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card__flex-container">
            <div class="govuk-card__flex-item">
              <div class="govuk-card govuk-card__nopadding govuk-card--contained govuk-card--selectable govuk-card__height">
                <a href="/v1/support-for-practitioners"></a>
                <img src="../../public/images/home-image-2.jpg" style="width:100%">
             
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Support for practitioners</h3>
                  <p class="govuk-body">Guidance to help you in your practice – from curriculum planning to reducing paperwork. </p>

                </div>
              </div>

            </div>
            
          </div>

          

        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-card__flex-container">
            <div class="govuk-card__flex-item">
              <div class="govuk-card govuk-card__nopadding govuk-card--contained govuk-card--selectable govuk-card__height">
                <a href="/v1/wellbeing-enrichment"></a>
                <img src="../../public/images/reading.jpg" style="width:100%">
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Wellbeing and enrichment</h3>
                  <p class="govuk-body">Resources to help you support children’s health, safety and learning in your setting.  </p>

                </div>
              </div>

            </div>
            
          </div>

          

        </div>

      </div>
<hr>
      <h2 class="govuk-heading-m govuk-!-margin-top-4">The EYFS</h2>
      <ul class="govuk-list">
        <p class="govuk-body">The early years foundation stage sets standards for the learning, development and care of children from birth to 5 years old. </p>
        <li>
          <a href="">Statutory framework for the early years foundation stage</a></li>
         <li> <a href="">Development Matters, non-statutory curriculum guidance for the early years foundation stage</a></li>
          <li><a href="">Supporting research</a>
        </li>
       
      </ul>
    </div>
  </div>

{% endblock %}
