{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}

    <div id="textSelection"
         class="colour-distinction">
         <div class="govuk-width-container">
        <h1>Hello</h1>
</div>
         
            <div class="vote-button-container">
                <div class="govuk-width-container">
                {% include "includes/text-selection-buttons.html" %}
            
         </div>
         </div>

         </div>
   

    {{ super() }}
{% endblock %}
