{% extends "layout.html" %}
{% block pageTitle %}Early Years Foundation - Text selection{% endblock %}
{% block main %}

<div id="textSelection" class="colour-distinction">
    <div class="govuk-width-container">
        <h1>Hello</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third ">
                <nav role="navigation" class="app-subnav">
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                        href="/communication-and-language">
                        <p class="app-subnav__theme">Communication and language</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/communication-and-language/interactions">Interactions</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/communication-and-language/exploring-language">Exploring language</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/communication-and-language/listening-and-understanding">Listening and
                                understanding</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/physical-development">
                        <p class="app-subnav__theme">Physical development</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/physical-development/core-strength-and-co-ordination">Core strength and
                                co-ordination</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/physical-development/gross-motor-skills">Gross motor skills</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/physical-development/fine-motor-skills">Fine motor skills</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                        href="/personal-social-and-emotional-development">
                        <p class="app-subnav__theme">Personal, social and emotional development</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/personal-social-and-emotional-development/emotions">Emotions</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/personal-social-and-emotional-development/sense-of-self">Sense of self</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/personal-social-and-emotional-development/relationships">Relationships</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/literacy">
                        <p class="app-subnav__theme">Literacy</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/literacy/reading-comprehension">Reading comprehension</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/literacy/exploring-words">Exploring words</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/literacy/writing">Writing</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state " href="/mathematics">
                        <p class="app-subnav__theme">Mathematics</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/mathematics/numbers">Numbers</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/mathematics/patterns-and-connections">Patterns and connections</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/mathematics/spatial-reasoning">Spatial reasoning</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                        href="/understanding-the-world">
                        <p class="app-subnav__theme">Understanding the world</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/understanding-the-world/personal-experiences">Personal experiences</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/understanding-the-world/diverse-world">Diverse world</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/understanding-the-world/widening-vocabulary">Widening vocabulary</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                        href="/expressive-arts-and-design">
                        <p class="app-subnav__theme">Expressive arts and design</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/expressive-arts-and-design/imagination-and-creativity">Imagination and
                                creativity</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/expressive-arts-and-design/self-expression">Self-expression</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/expressive-arts-and-design/communicating-through-arts">Communicating through
                                arts</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__section-item--current"
                        href="/get-help-to-improve-your-practice">
                        <p class="app-subnav__theme">Get help to improve your practice</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/curriculum-planning">Curriculum planning</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/reducing-paperwork">Reducing paperwork</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/working-in-partnership-with-parents-and-carers">Working
                                in partnership with parents and carers</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/english-as-an-additional-language-eal">English
                                as an additional language (EAL)</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/meeting-the-needs-of-all-children">Meeting the
                                needs of all children</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/get-help-to-improve-your-practice/sensory-food-education">Sensory food
                                education</a>
                        </li>
                    </ul>
                    <a class="govuk-link app-subnav__link govuk-link--no-visited-state "
                        href="/safeguarding-and-welfare">
                        <p class="app-subnav__theme">Safeguarding and welfare</p>
                    </a>
                    <ul class="app-subnav__section ">
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/safeguarding-and-welfare/oral-health">Oral health</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/safeguarding-and-welfare/food-safety">Food safety</a>
                        </li>
                        <li class=" app-subnav__section-item ">
                            <a class="govuk-link app-subnav__link govuk-link--no-visited-state"
                                href="/safeguarding-and-welfare/internet-safety">Internet safety</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <div class="vote-button-container">
        <div class="govuk-width-container">
            {% include "includes/text-selection-buttons.html" %}

        </div>
    </div>

</div>


{{ super() }}
{% endblock %}